body {margin-left: auto; margin-right: auto; width: 800px; background-color:#efefec}
h1 {font-size:48pt; font-family: "DejaVu Sans Mono", monospace; color:#babdb6;
  font-weight:bold; text-shadow:0px -2px #888a85; text-align:center}
#logomenu {text-align: center}
#botbar {font-size: 24pt; font-family: "DejaVu Sans", sans-serif; color: #babdb6;}
.masdl-name {font-family: "DejaVu Sans Mono", monospace; color: #888a85;}

.links a{font-size: 24pt; font-family: "DejaVu Sans", sans-serif; font-weight:bold;
  border-bottom: 2px solid; color: #babdb6; padding:0px 5px 1px 5px; text-decoration: none}
.links {position: relative; margin-bottom:20px;}
#about {position: relative; right:80px;}
#about:hover {color: #a40000}
#code:hover {color: #4e9a06}
#docs {position: relative; left:80px;}
#docs:hover {color: #3465a4}

.content{margin-left:auto; margin-right:auto; width:800px; padding:10px 20px;
  background-color:#fafafa; border: 1px solid #babdb6; border-radius: 2px}
p {font-family:serif; text-align:justify}
.content a{text-decoration:none; color:#3465a4}
.content a:hover{text-decoration:underline; color:#729fcf}
.content a:active{text-decoration:underline; color:#204a87}
.buttons{text-align:center}
.icon {width:24px; height:24px; vertical-align:middle;}
.button {display:inline-block; margin-top:1em; padding: 2px 1em 2px 0.7em;
background-color:#f2f2f2; border: 1px solid #babdb6;
border-radius:2px; text-decoration:none; color: #3465a4; font-family:
sans-serif;}
.button:hover{color: #204a87; background-color:#fbfbfb}
.button:active{color: #729fcf; background-color:#dedede}
.button span{position:relative; top:2px};
